@font-face {
    font-family: Delicious;
    src: url('/fonts/10175.otf');
}

@font-face {
    font-family: Delicious;
    font-weight: bold;
    src: url('/fonts/10175.otf');
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    /*overflow: hidden;*/
}
/*
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}*/

body {
    background: #B69274 url(/pics/bg_blur.jpeg) repeat-y;
    background-size: cover;
    background-attachment: fixed;
    font-weight: bold;
    font: 12px/18px Arial, sans-serif;
    /*height: 90%;*/
    overflow: auto;
}


#xo {
    display: inline-block;
    color: #121212;
    padding: 50px 0 0;
    float: left;
    width: 300px;
    height: 80px;
    margin: 50px 0 0 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 160px;
    text-shadow: 1px 1px 0 white, 2px 2px 30px rgba(33,33,33,0.35);
}


/* Header
-----------------------------------------------------------------------------*/

.header {
    height: 70px;
    background: #404040;
    width: 100%;
    top: 0px;
    position: fixed;
}

#name {
    float: left;
    width: fit-content;
    padding: 25px 13px;
    font-family: Delicious;
    font-size: 60px;
    color: white;
    height: 100%;
}

#logo {
    margin: 1px 3px 0 0;
    float: right;
    width: 108px;
    height: 68px;
    background-image: url(/pics/xo_logo_min.png);
}

.wrapper{
    margin: 10% 0 0 0;
}

.inf {
    color: #242424;
    font-weight: bold;
    line-height: 30px;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    max-width: 450px;
    width: fit-content;
    /*min-width: 400px;*/
    background-color: rgba(253, 253, 253, 0.6);
    box-shadow: 0 0 10px 0 white;
    /*box-shadow: 0 0 10px white;*/
    border-radius: 20px;
}

#first, #third{
float: left;
margin: 10px 50% 10px 10px;
}
#second{
    float: right;
    margin: 10px 10px 10px 20% ;
}


.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: -50px auto 0;
    min-width: 700px;
    height: 50px;
    background: #404040;
    /*position: relative;*/
    overflow: hidden;
}

#patifon {
    width: fit-content;
    padding: 15px 0 0;
    height: 40px;
    font-family: Delicious;
    font-size: 40px;
    color: white;
}